# maven ignore
*.jar
*.war
*.zip
*.tar
*.tar.gz
rebel.xml
rebel-remote.xml

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
out/
target/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db

