.btn-file { /*  上传按钮*/
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#tree {
    width: 20%;
    position: fixed;
    height: 90%;
    overflow: auto;
}

.container {
    position: absolute;
    left: 20%;
    padding: 0;
    border: 1px solid #ddd;
}

.list-group-item {
    /*display: table-footer-group;*/
    display: flex;
    width: 250px;
}

.server {
    background: url("../img/redis.png") no-repeat 0 0;
    width: 25px !important;
}

.redisDb {
    background: url("../img/db.png") no-repeat 0 0;
    width: 25px !important;
}

.treeview .list-group-item {
    cursor: pointer;
    color: #428bca;
}

.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px
}

.treeview span.icon {
    width: 12px;
    margin-right: 5px
}

.treeview .node-disabled {
    color: silver;
    cursor: not-allowed
}
.treeview .node-selected {
    background-color: #428bca;
    color:#fff;
}
.treeview .show-node{
    display: block;
}
.treeview .hide-node{
    display: none;
}