.btn-file { /*  上传按钮*/
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#tree {
}
.left{
    width: 310px;
    position: absolute;
    overflow: auto;
    height: 90%;
    padding: 5px;
}
.leftMenu{
    width: auto;
    margin-bottom: 20px;
}
.container-div {
    padding: 0;
    margin-left: 315px;
    border: 1px solid #ddd;
    width: calc(100% - 310px);
    min-width: 750px;
}

.server {
    background: url("../img/redis.png") no-repeat 0 0;
    width: 25px !important;
}

.redisDb {
    background: url("../img/db.png") no-repeat 0 0;
    width: 25px !important;
}

.string {
    background: url("../img/string.png") no-repeat 0 0;
}

.set {
    background: url("../img/set.png") no-repeat 0 0;
}

.treeView .list-group-item {
    cursor: pointer;
    color: #428bca;
}

.treeView span.indent {
    margin-left: 10px;
    margin-right: 10px
}

.treeView span.icon {
    width: 12px;
    margin-right: 5px
}

.treeView .node-disabled {
    color: silver;
    cursor: not-allowed
}

.treeView .node-selected {
    background-color: #428bca;
    color: #fff;
}

.treeView .show-node {
    display: block;
}

.treeView .hide-node {
    display: none;
}

.treeView ul li {
    list-style: none;
}

.child_ul {
    padding-left: 10px;
    padding-right: 10px;
}

.node-tree {
    cursor: pointer;
    color: #428bca;
    margin: 2px 2px 2px 15px;
    display: block; /*内联对象需加*/
    min_width: 20em;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: visible;
    text-overflow: ellipsis;
}

.disabled {
    pointer-events: none;
}

.form-control {
    height: 39px;
}

#page {
    margin-left: 18%;
}

#list-content {
    border-bottom: 1px solid #ddd;
}

.detail-div {
    border-bottom: 1px solid #ddd;
    height: 40px;
}
